.document-icon.svelte-fz934m{width:48px;height:48px
}
.document-icon.svelte-i24hp6.svelte-i24hp6{margin-right:15px;width:80px;height:auto}.download.svelte-i24hp6 img.svelte-i24hp6{width:20px}
#kit-de-herramientas.svelte-1mi8je8{background-position:center;background-size:cover;background-repeat:no-repeat}
.logo.svelte-omj2xb{width:150px}.developers.svelte-omj2xb{width:160px}.fot.svelte-omj2xb{max-width:800px}
