.document-icon.svelte-fz934m{width:48px;height:48px
}
@media only screen and (max-width: 768px){img.svelte-1dnit2d{width:100%}}
.document-icon.svelte-1r6uxr.svelte-1r6uxr{margin-right:15px;width:80px;height:80px}.download.svelte-1r6uxr img.svelte-1r6uxr{width:20px}
#kit-de-herramientas.svelte-1s0ectt{background-position:center;background-size:90%;background-repeat:no-repeat}
.logo.svelte-omj2xb{width:150px}.developers.svelte-omj2xb{width:160px}.fot.svelte-omj2xb{max-width:800px}
