#cere.svelte-1jbxai6{width:55px;position:relative;top:-56px}
#show-all-tik.svelte-dt424s{background-color:white;padding:5px 20px}#hashtag.svelte-dt424s{position:relative;top:11px}
.document-icon.svelte-fz934m{width:48px;height:48px
}
@media only screen and (max-width: 600px){img.svelte-xd52n2{display:none}}
.document-icon.svelte-1r6uxr.svelte-1r6uxr{margin-right:15px;width:80px;height:80px}.download.svelte-1r6uxr img.svelte-1r6uxr{width:20px}
#kit-de-herramientas.svelte-1s0ectt{background-position:center;background-size:90%;background-repeat:no-repeat}
.logo.svelte-asfcr1{width:150px}.developers.svelte-asfcr1{width:260px}.fot.svelte-asfcr1{max-width:1200px}@media only screen and (max-width: 600px){.fot.svelte-asfcr1{flex-direction:column}}
