#cere.svelte-1jbxai6{width:55px;position:relative;top:-56px}
#show-all-tik.svelte-dt424s{background-color:white;padding:5px 20px}#hashtag.svelte-dt424s{position:relative;top:11px}
.document-icon.svelte-fz934m{width:48px;height:48px
}
@media only screen and (max-width: 600px){img.svelte-xd52n2{display:none}}
.document-icon.svelte-1w6u2he.svelte-1w6u2he{margin-right:15px;width:80px;height:80px;padding:10px
}.download.svelte-1w6u2he img.svelte-1w6u2he{width:30px}
#kit-de-herramientas.svelte-1s0ectt{background-position:center;background-size:90%;background-repeat:no-repeat}
.logo.svelte-14bhgs3{width:150px}.developers.svelte-14bhgs3{width:260px;float:left}.minu.svelte-14bhgs3{float:left;width:70px}.fot.svelte-14bhgs3{max-width:1200px;margin:auto
}@media only screen and (max-width: 600px){.fot.svelte-14bhgs3{flex-direction:column}}
