#cere.svelte-r58saq{width:55px;position:relative;top:-56px}
#show-all-tik.svelte-1ujxkbk{background-color:white;padding:5px 20px}#hashtag.svelte-1ujxkbk{position:relative;top:11px}
.document-icon.svelte-14lxvia{width:48px;height:48px
}
@media only screen and (max-width: 600px){img.svelte-1j75uuy{display:none}}
.document-icon.svelte-1f4zug6.svelte-1f4zug6{margin-right:15px;width:80px;height:80px;padding:10px
}.download.svelte-1f4zug6 img.svelte-1f4zug6{width:30px}
#kit-de-herramientas.svelte-fzyaxp{background-position:center;background-size:90%;background-repeat:no-repeat}
.logo.svelte-19ymy2v{width:150px}.developers.svelte-19ymy2v{width:260px;float:left}.minu.svelte-19ymy2v{float:left;width:70px}.fot.svelte-19ymy2v{max-width:1200px;margin:auto
}@media only screen and (max-width: 600px){.fot.svelte-19ymy2v{flex-direction:column}}
