.document-icon.svelte-14lxvia{width:48px;height:48px
}
.document-icon.svelte-r0btzy.svelte-r0btzy{margin-right:15px;width:80px;height:auto}.download.svelte-r0btzy img.svelte-r0btzy{width:20px}
#kit-de-herramientas.svelte-1igy9sc{background-position:center;background-size:cover;background-repeat:no-repeat}
.logo.svelte-17k7ix7{width:150px}.developers.svelte-17k7ix7{width:160px}.fot.svelte-17k7ix7{max-width:800px}
