#cere.svelte-r58saq{width:55px;position:relative;top:-56px}
#show-all-tik.svelte-1ujxkbk{background-color:white;padding:5px 20px}#hashtag.svelte-1ujxkbk{position:relative;top:11px}
.document-icon.svelte-14lxvia{width:48px;height:48px
}
@media only screen and (max-width: 600px){img.svelte-1j75uuy{display:none}}
.document-icon.svelte-9vwsy3.svelte-9vwsy3{margin-right:15px;width:80px;height:80px}.download.svelte-9vwsy3 img.svelte-9vwsy3{width:20px}
#kit-de-herramientas.svelte-fzyaxp{background-position:center;background-size:90%;background-repeat:no-repeat}
.logo.svelte-y0wl1s{width:150px}.developers.svelte-y0wl1s{width:260px;float:left}.minu.svelte-y0wl1s{float:left;width:70px}.fot.svelte-y0wl1s{max-width:1200px}@media only screen and (max-width: 600px){.fot.svelte-y0wl1s{flex-direction:column}}
