#cere.svelte-r58saq{width:55px;position:relative;top:-56px}
#show-all-tik.svelte-7zbrrr{background-color:white;padding:5px 20px}
.document-icon.svelte-14lxvia{width:48px;height:48px
}
@media only screen and (max-width: 768px){img.svelte-auiyuh{width:100%}}
.document-icon.svelte-9vwsy3.svelte-9vwsy3{margin-right:15px;width:80px;height:80px}.download.svelte-9vwsy3 img.svelte-9vwsy3{width:20px}
#kit-de-herramientas.svelte-fzyaxp{background-position:center;background-size:90%;background-repeat:no-repeat}
.logo.svelte-17k7ix7{width:150px}.developers.svelte-17k7ix7{width:160px}.fot.svelte-17k7ix7{max-width:800px}
